{% extends 'base.html.twig' %}

{% block title %}
	Liste des utilisateurs
{% endblock %}
{% block body %}
	<div class="container">
		<h1 class="my-5">Liste des utilisateurs</h1>

		<div {{react_component('Dashboard', { 'usersList': usersList } ) }}></div>

	</div>


{% endblock %}
